@use "../../presets" as *;
@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {
  &__btn {
    display: none;
  }

  &__list {
    display: grid;
    justify-content: end;

    width: 100%;

    gap: $gap-x2;
    grid-template-columns: repeat(auto-fit, minmax(40px, max-content));
    @include unlist(0 -10px 0 0);
  }

  &__link {
    padding: $gap $gap-sm;

    transition: color 0.25s;
    letter-spacing: 0.09em;

    font-size: 1.125rem;
    line-height: 20px;

    &:hover,
    &focus {
      color: $color-accent;
    }
  }
}
