@use "../presets/skin" as *;
.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 250px;
  height: 60px;
  padding: 0.5em 1em;

  transition: background-color 0.5s;
  letter-spacing: 0.1em;

  border: 2px solid $color-light;
  border-width: 2px;
  border-style: solid;
  background-color: rgba($color-light, 0.1);

  font-size: large;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

