@use "../presets" as *;
@use "../mixins" as *;
.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5em 1em;

  transition: background-color 0.5s;
  letter-spacing: 0.1em;

  border-width: 2px;
  border-width: 2px;
  border-style: solid;
  border-style: solid;
  border-color: $color-light;
  background-color: rgba($color-light, 0.1);



  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.btn--light {
@include lg-min {
  min-width: 250px;
  min-height: 60px;
  font-size: large;
}
@include lg-md {
  min-width: 200px;
  min-height: 50px;
}
@include md {
  min-width: 170px;
  min-height: 40px;
}

  border-color: $color-light;
}

.btn--primary {
  min-height: 60px;
  font-size: 1.125rem;
  @include sm-min{
    min-width: 350px;
  }
  @include sm{
    min-width: 100%;
  }

  border-color: $color-primary;
  background-color: rgba($color-primary, 0.8);
}
